page-camera {

}

.scroll-content{
    overflow-y: hidden !important;
    text-align: center;
}

/* 
svg{
    position: absolute;
    left:0;
} */

svg {
    height: 30%;
    width: 50%;
    margin-top: 25%;
}

.bounce-anim {
    animation: bounce 1s alternate infinite;
}

.bounce-in {
    animation: animate-down .7s, fade-in .7s; 
}

.no-anim {
    animation: none;
}

@keyframes fade-in {
    0% { opacity: 0; }   
  100%   { opacity: 1; } 
}

input{
  background-color: rgba(255,255,255,1)!important;
}
input::-webkit-input-placeholder { padding-left:10px; }
input::-webkit-input-placeholder { padding-left:10px; }
input::-webkit-input-placeholder { padding-left:10px; }
  
a{
  font-size:1.2rem;
} 

@keyframes animate-down{
  0% {
    transform: translateY(-200px); 
    animation-timing-function: cubic-bezier(.200, 1, .355, 1.6);
  }
  
  100% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(.55, .055, .675, .1);
  }
}

@keyframes bounce {
    from { margin-top: 25%; }
    to   { margin-top: 28%; }
}

// start buttton

/* .start-wrapper {
    position: fixed;
    width: 100%
}

.start-btn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
 */


@keyframes statsEnter{
    from {
        opacity: 0;
        font-size: 0px;
        height: 0;
      }
    to {
        opacity: 1;
        font-size: 25px;
        height: 100px;
      }
}

@keyframes statsExit{
    from {
        opacity: 1;
        font-size: 25px;
        height: 100px;
      }
    to {
        opacity: 0;
        font-size: 0px;
        height: 0;
      }
}


.classy{
    margin: auto;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: statsEnter 2s;
    animation-fill-mode: forwards;
}

.unclassy{
    margin: auto;
    position: absolute;
    background:white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: statsExit 2s;
    animation-fill-mode: forwards;
}

